<% results.forEach(function (result) { %>
  <form action="crop" method="post" id="crop">
    <fieldset>
      <legend>Crop / Save</legend>
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail">
            <img class="pre-processed" src="<%- result.url %>" alt="<%- result.path %>" />
          </div>
        </li>
      </ul>
      <input type="hidden" name="coordx1" id="coordx1" />
      <input type="hidden" name="coordy1" id="coordy1" />
      <input type="hidden" name="coordx2" id="coordx2" />
      <input type="hidden" name="coordy2" id="coordy2" />
      <input type="hidden" name="w" id="w" />
      <input type="hidden" name="h" id="h" />
      <input type="hidden" name="image" value="<%- result.path %>" />
      <input type="hidden" name="original" value="<%- result.original.name %>" />
      <div class="form-actions">
        <button class="crop btn btn-primary">Apply</button>
      </div>
    </fieldset>
  </form>
  <script>
    $(document).ready(function() {
      var offsetX, offsetY, cropW, cropH;
      function updateCoords(c) {
        $('input#coordx1').val(c.x)
        $('input#coordy1').val(c.y)
        $('input#coordx2').val(c.x2)
        $('input#coordy2').val(c.y2)
        $('input#w').val(c.w)
        $('input#h').val(c.h)
      }

      $(function(){
        $('.pre-processed').Jcrop({
          aspectRatio: 1, // Only Squares
          onChange: updateCoords,
          onSelect: updateCoords,
          trueSize: [<%- result.w %>, <%- result.h %>]
        });
      });

      $('button#crop').on('click', function(e) {
        e.preventDefault();
        $('form#crop').ajaxForm({
          complete: function(data) {
            $('div.main').html(data.responseText);
          }
        });
      });
    });
  </script>
<% }) %>